.Card{
    background: linear-gradient(to right bottom, #256fde, #5355bb, #603b96, #612072, #59004f);
    color: whitesmoke;
    max-width: 310px;
    margin: 15px;
    box-shadow: 0 0 7px rgb(0, 0, 0, 0.75)
}

.Card img{
    display: block;
}

.Card h4{
    font-size: 1.2em;
    padding-left: 15px;
}

.Stats{
    padding: 15px;
}

.Stats p{
    display: flex;
    justify-content: space-between;
}

.Card button{
    display: block;
    width: 100%;
    background: #333;
    color: white;
    border: none;
    font-size: 1em;
    padding: 15px;
}